.buttonsContainer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.responseContainer {
}

.imageContainer {
}

.image {
}

.textContainer{
}

.code {
}

.text {
}
.info {
}