.wrapper {
    overflow-x: hidden;
    width: 350px;
}
.panel {
    display: flex;
    width: 310px;
    height: 25px;
    transition: 0.5s;
    transform: translateX(-85%);
    justify-content: space-between;
    align-items: center;
    background: #147cb9;
}
.panelActive {
    transform: translateX(0%);
}
.content {
    display: flex;
    width: 250px;
    justify-content: space-between;
    align-items: center;
}
.preJunior, .junior, .superJunior {
    color: white;
    text-decoration: none;
}
.preJunior:hover, .junior:hover, .superJunior:hover {
    color: blueviolet;
    background-color: white;
}
.junior {

}
.superJunior {

}
.btn {
    background: #147cb9;
    color: white;
    border: solid 2px #147cb9;
    border-radius: 3px;
    width: 38px;
    height: 25px;
}